# Aliases

alias homee='cd /Users/Timo/Developer/homee'
alias koala='cd /Users/Timo/Developer/koala'
alias dev='gulp'
alias production='gulp --type production'
alias commit='gulp commit --type production'
alias patch='gulp patch --type production'
alias minor='gulp minor --type production'
alias major='gulp major --type production'
alias watch='gulp watch'
alias bash='vi ~/.dotfiles/.bash_profile'
alias zsh='vi ~/.dotfiles/.zshrc'
alias aliases='vi ~/.dotfiles/.aliases'
alias functions='vi ~/.dotfiles/.functions'
alias dotfiles='cd ~/.dotfiles'
alias packageperms='sudo chown -R `whoami` package.json'
alias server='gulp server'
alias npmperms='sudo chown -R `whoami` /usr/local'
alias master='git checkout master'
alias developer='git checkout developer'
alias release='git checkout release'
alias st='open -a "Sublime Text"'
alias d="cd /Users/Timo/Developer"
